albumi.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AlbumList">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Album">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:number" />
              <xs:element name="name" type="xs:string" />
			  <xs:element name="artist" type="xs:string" />
              <xs:element name="genre" type="xs:string" />
              <xs:element name="year" type="xs:string" />
              <xs:element name="price" type="xs:decimal" />
			  <xs:element name="description" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>